DB_URL=jdbc:postgresql://localhost:5432/dropctl
DB_USERNAME=dropctl
DB_PASSWORD=change-me

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-account-region
S3_BUCKET_NAME=your-bucket-name

APP_BASE_URL=http://localhost:5173
REDIS_HOST=localhost
REDIS_PORT=6379